<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.rs %>">
  <!--  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.bs[0] %>">-->
  <!--  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.sl[0] %>">-->
  <!--  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.sl[1] %>">-->
  <!--  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.mt[0] %>">-->
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.fa %>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.bu %>">
</head>
<body>
<noscript>
  You need to enable JavaScript to run this app.
</noscript>
<div id="root"></div>
<div id="modal"></div>
<!--<script src="<%= htmlWebpackPlugin.options.jq %>"></script>-->
<!--<script src="<%= htmlWebpackPlugin.options.mt[1] %>"></script>-->
</body>

</html>