@import "mixins";

.w100p {
  width: 100%;
}

.vh100 {
  min-height: 100vh;
}

.ch-cursor-pointer {
  cursor: pointer;
}

.ch-align-items-center {
  align-items: center;
}

.ch-sticky-left {
  position: absolute;
  top: .75em;
  left: 1em;
}

.ch-sticky-right {
  position: absolute;
  top: .75em;
  right: 1em;
}

.ch-align-center {
  @include vh-center;
}

.ch-align-10 {
  @include vh-center(10%);
}

.ch-space-between {
  justify-content: space-between;
}

.ch-flex-end {
  justify-content: flex-end;
}

.ch-flex-grow-1 {
  flex-grow: 1;
}

.ch-invisible {
  visibility: hidden;
}

.ch-overflow-hidden {
  overflow: hidden;
}

.ch-stroke {
  color: white;
  font-size: 22px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;

  line-height: 26px;
  padding: 0;
  margin: 0;
}

.ch-round {
  border-radius: 6px;
}

.ch-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(48);
}

.ch-link {
  text-decoration: none !important;
}

.back-drop {
  @include poa-100-100;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: -1;
}

table {
  > tbody {
    > tr {
      > td {
        vertical-align: middle !important;

        > input {
          max-width: 45px;
          border: 1px solid rgba(219, 219, 219, 0.44);
        }
      }
    }
  }
}
