@import "mixins";

html {
  background-color: #fff;
  font-size: 12px;
  font-weight: normal;

  body,
  button,
  input,
  select,
  textarea {
    font-family: "Roboto", serif;
  }
}

sup {
  line-height: 0;

  font-size: 0.7em;
  vertical-align: super;
}

.msg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 200;

  .msg-back-drop {
    position: relative;
    background-color: rgba(146, 146, 146, 0.7);
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    z-index: 201;
  }

  .msg-content {
    @include vh-center;
    min-width: 400px;
    max-width: 75%;
    z-index: 210;
  }
}

.notification {
  padding: 5px;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

i {
  &.is-danger {
    color: #f14668;
  }

  &.is-primary {
    color: #00d1b2;
  }
}

.auth {
  position: relative;

  .auth-container {
    position: relative;

    .auth-wrapper {
      @include vh-center;
      min-width: 300px;
      max-width: 400px;
    }
  }
}

.month {
  padding: .5rem;

  flex-wrap: wrap;
  justify-content: flex-start;

  .month-wrapper {
    margin: 5px;
    position: relative;
    flex-basis: 31%;
    height: 125px;
    z-index: 100;
    overflow: hidden;

    &.new-period.hovering:hover {
      color: blue;
    }

    &.hovering:hover {
      box-shadow: 0 0 14px 0 #aaaaaa;

      .month-info {
        top: 0;
      }
    }

    .month-content-frame {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0.5rem;
    }

    .month-content {
      width: 100%;
      height: 100%;
      z-index: 90;

      .month-img-wrapper {
        @include poa-100-100;
        z-index: -1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .month-info {
      @include poa-100-100;
      top: 100%;
      z-index: 90;
      transition: top 0.2s ease-in-out;
    }
  }
}

.receipt {
  .panel-heading {
    position: relative;;
  }

  .receipt-images {
    justify-content: flex-start;
    flex-wrap: wrap;

    & .card {
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: box-shadow .1s ease-in-out;

      &:hover {
        color: blue;
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.39),
        0 0px 0 1px rgba(10, 10, 10, 0.15);
      }

      & .delete-img {
        position: absolute;
        border-radius: 5px;
        color: red;
        bottom: 5px;
        right: 5px;
        height: 20px;
        width: 20px;
        opacity: 0.1;

        &:hover {
          opacity: 1;
        }

        i {
          @include vh-center
        }
      }

      & .card-image {
        figure {
          i {
            @include vh-center
          }
        }
      }
    }
  }
}

.ch-progress {
  @include poa-100-100;
  z-index: 110;
}

@media all and (max-width: 768px) {
  .columns {
    display: flex;
  }

  .level-left + .level-right {
    margin-top: 0;
  }
}

@media all and (max-width: 1024px) {
  .month {
    justify-content: space-between;

    .month-wrapper {
      flex-basis: 45%;
      justify-content: space-around;
      height: 180px;
    }
  }
}